.dashboard {
    margin-top: 50px;
    margin-left: 20px;
  }
  
  .card {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .summary {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .analytics {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .news {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  