
<h2 class="title text-2xl font-bold mt-40 text-white p-2 ">Property Search</h2>
<div class="search-container mt-8 pl-16">
  <input [(ngModel)]="searchQuery" type="text" placeholder="Search by location, region, or listing title" class="search-input custom-input-width rounded border border-gray-300 border-opacity-30 border-3 ">
  <select [(ngModel)]="searchSaleType" class="search-select rounded border border-gray-300 border-opacity-30 border-3">
    <option value="">All Sale Types</option>
    <option value="For Sale">For Sale</option>
    <option value="For Rent">For Rent</option>
  </select>
  <select [(ngModel)]="searchPropertyType" class="search-select rounded border border-gray-300 border-opacity-30 border-3">
    <option value="">All Property Types</option>
    <option value="Apartment">Apartment</option>
    <option value="House">House</option>
    <option value="House">Condominium</option>
    <option value="House">Land</option>
  </select>
  <input [(ngModel)]="searchPriceMin" type="number" placeholder="Min Price" class="search-input rounded border border-gray-300 border-opacity-30 border-3 w-32">
  <input [(ngModel)]="searchPriceMax" type="number" placeholder="Max Price" class="search-input rounded border border-gray-300 border-opacity-30 border-3 w-32">
  <input [(ngModel)]="searchBath" type="number" placeholder="Bathrooms" class="search-input rounded border border-gray-300 border-opacity-30 border-3">
  <input [(ngModel)]="searchBedroom" type="number" placeholder="Bedrooms" class="search-input rounded border border-gray-300 border-opacity-30 border-3">
  <button (click)="searchProperties()" class="search-button bg-blue hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">Apply</button>
</div>
<app-properties-card>
  <app-properties-list>
    <div *ngFor="let property of properties" class="p-4 bg-white shadow rounded-lg">
      <img *ngIf="property.images && property.images.length > 0" [src]="property.images[0].imageUrl" alt="Property Image" class="w-full h-48 object-cover rounded-t-lg">
      <h2 class="text-xl font-bold mt-4">{{ property.listingTitle }}</h2>
      <p class="text-gray-600">{{ property.houseNumber }}, {{ property.street }} Street, {{ property.village }} Village, {{ property.city }} City, {{ property.province }}</p>
      <div class="flex justify-between items-center mt-4">
        <p class="text-gray-600">{{ property.price | currency:'PHP' }}</p>
        <button (click)="viewPropertyDetails(property.id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Buy Now
        </button>
      </div>
    </div>
    
  </app-properties-list>
</app-properties-card>
