.search-container{
    border-radius: 15px;
}
.search-button{
    background-color: blue;
    padding-left:15px;
    margin-left:15px;

}
.search-button:hover {
    background-color: orange;
  }
.custom-input-width{
    width: 27%;
}
.title{
   background-color:  #2359b1;
   margin-left: 54px;
   height:50px;
   margin-right:54px ;
   border-radius: 10px;

}