<div class="card-container">
    <mat-card class="custom-card">
      <div class="customed-icon">
        <mat-icon class="large-icon">home</mat-icon>
      </div>
      <mat-card-header>
        <mat-card-title class="header-right">Open Listings</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
    </mat-card>
  
    <mat-card class="custom-card">
      <div class="customed-icon">
        <mat-icon class="large-icon">done</mat-icon>
      </div>
      <mat-card-header>
        <mat-card-title>Closed Deals</mat-card-title>
      </mat-card-header>
      <mat-card-content>


      </mat-card-content>
    </mat-card>
  
    <mat-card class="custom-card">
        <div class="customed-icon">
            <mat-icon class="large-icon">message</mat-icon>
          </div>
      <mat-card-header>
        <mat-card-title>Total Inquiries</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      
   
      </mat-card-content>
    </mat-card>
  
    <mat-card class="custom-card">
        <div class="customed-icon">
            <mat-icon class="large-icon">card_membership</mat-icon>
          </div>
      <mat-card-header>
        <mat-card-title>Subscription</mat-card-title>
      </mat-card-header>
      <mat-card-content>
     

      </mat-card-content>
    </mat-card>
  </div>
  