<div class="ll-hero">

      <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-12 md:col-span-6 lg:col-span-7 xxl:col-span-6 ll-hero-text">
          <h2 id="moving-text" class="text-white text-left font-bold mt-14 p-8">
            Celebrate the art of finding your perfect home. 
        </h2><p class="description pl-8 text-white font-normal mt-0">Explore our immersive online<br> world of real estate  and unlock the<br> door to your dream property.</p>
          
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-5 xxl:col-span-6 ll-image mt-10 md:mt-0">
          <img class="ml-auto pr-4 rounded-3xl" src="assets/images/house 2.jpg" alt="Hero" />
        </div>
    </div>
    </div>
<app-properties></app-properties>
<app-home-properties></app-home-properties>
