<div class="ll-about mt-28 mb-28" style="margin-top: 2rem; margin-bottom: 2rem;">
  <div class="container">
    <div class="flex flex-wrap">
      <div class="lg:w-1/2 lg:order-last p-10">
        <a href="javascript:void(0)" class="ll-about__img relative block ml-auto">
          <img src="assets/images/window2.png" alt="About" class="rounded-3xl mx-0 mt-12" />
        </a>
      </div>
      <div class="lg:w-1/2 lg:pr-10 mt-40 lg:mt-0 ll-about__text p-20 ">
        <h2 class="font-large text-orange text-shadow">Unlocking the Power of Real Estate: Discover the Potential of Our Innovative Web Platform</h2>
        <div class="mt-10">
          <h4 class="font-large text-orange">Unleashing Real Estate Potential</h4>
          <h5 class="mt-2 text-white">Our platform connects you with expert practitioners who provide firsthand advice and knowledge.</h5>
        </div>
        <div class="mt-8">
          <h4 class="font-large text-orange">Solutions, Not Sales</h4>
          <h5 class="mt-2 font-medium text-white">Experience consulting that goes beyond sales pitches, with consultants who implement solutions alongside you.</h5>
        </div>
        <div class="mt-8">
          <h4 class="font-large text-orange">Convenience at Your Fingertips</h4>
          <h5 class="mt-2 text-white">No more travel to advice centers - access our services from anywhere, saving you time and hassle.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
