
<div class="px-5">
    
    <div class="flex justify-between py-5 mt-5">
        <h3>My Properties</h3>
        <a [routerLink]="['../create-property']"  mat-flat-button  color="accent">
            <mat-icon>house</mat-icon>
            Add Property
        </a>
    </div>
    
    <p *ngIf="!properties.length" class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">You haven't created any property listings yet, go ahead and <a class="text-blue-600 dark:text-blue-500 hover:underline" [routerLink]="['../create-property']" >add a property</a>.</p>
    <div class="" *ngIf="properties.length">
        <div class="table-inside">
            <table class="order-table table-fixed ltMd:responsive">
                <thead>
                    <tr class="border text-left">
                        <th class="w-3/12">
                            <span class="text-gray-800"></span>
                        </th>
                        <th class="w-3/12">
                            <span class="text-gray-800 font-medium">Title</span>
                        </th>
                        <th class="w-2/12">
                            <span class="text-gray-800">Price</span>
						</th>
		
						<th class="w-2/12">
							<span class="text-gray-800">Created</span>
						</th>
						
						<th class="w-1/12">
							<span class="text-gray-800">Status</span>
						</th>
						
						<th class="text-right w-1/12"> </th>
					</tr>
			</thead>
			<tbody>
				<tr *ngFor="let property of properties" class="border">
                    <td class="p-5">
                        
                        <p class="" *ngIf="property?.images?.length === 0">No image to show</p>
						<div class="rounded-md h-64 overflow-hidden" *ngIf="property?.images?.length >= 1">
						<c-carousel [interval]="0">
							<c-carousel-indicators></c-carousel-indicators>
							<c-carousel-inner>
							  <c-carousel-item *ngFor="let image of property?.images">
								<div class="rounded-md h-64 overflow-hidden">
									<img
									class="h-full w-full object-cover"
									loading="lazy"
									[src]="image?.imageUrl"
									/>
								</div>
								
								<c-carousel-caption class="d-none d-md-block">
								</c-carousel-caption>
							  </c-carousel-item>
							</c-carousel-inner>
							<c-carousel-control *ngIf="property?.images?.length >= 2" [routerLink] caption=" " direction="prev"></c-carousel-control>
							<c-carousel-control *ngIf="property?.images?.length >= 2" [routerLink] caption=" " direction="next"></c-carousel-control>
						  </c-carousel>
						</div>
					</td>
					<td class="font-medium">
                        {{property?.listingTitle }}
						
					</td>
					<td>
                        <span class="font-medium">{{property?.price | currency:'PHP'}} <span class="font-light">{{' (' + property?.saleType + ')'}}</span></span>
					</td>
					<td>
                        <span>{{property?.dateCreated | date}}</span>
					</td>
					<td>
                        <div [ngClass]="{
                            'bg-yellow-500 text-yellow-900': property?.sold === false,
							'bg-primary text-primary': property?.sold === true
                        }" 
							class="text-[12px] bg-opacity-20 rounded-full px-3 inline-block font-bold py-[3px]"
						>
							{{ property?.sold ? "Sold" : "Up"}}
						</div>
					</td>
					<td class="text-right">
                        <button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="text-center">more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu" xposition="before">
                            <button mat-menu-item [routerLink]="['../view-inquiries/' + property?.id]">
                                <mat-icon>message</mat-icon>
								<span>View Inquiries</span>
							</button>
                            <button mat-menu-item [routerLink]="['../update-property/' + property?.id]">
                                <mat-icon>edit</mat-icon>
								<span>Edit</span>
							</button>
                            <button mat-menu-item (click)="updatePropertySold(property.id)" *ngIf="!property.sold">
                                <mat-icon>attach_money</mat-icon>
								<span>Mark as Sold</span>
							</button>
							<button mat-menu-item (click)="deleteProperty(property.id)">
                                <mat-icon>delete</mat-icon>
								<span>Delete</span>
							</button>
						</mat-menu>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>