<div [class.example-is-mobile]="isLessThenLargeDevice">
    <mat-sidenav-container class="kl-sidenav-container">
      <mat-sidenav #sidenav [opened]="isSidenavExpand && isLessThenLargeDevice" [mode]="'over'" [fixedInViewport]="isLessThenLargeDevice">
          <ll-sidenav></ll-sidenav>
      </mat-sidenav>
      <mat-sidenav-content>
        <ll-header-seller (toggleSidenav)="toggleSidenav()" [topFixed]="true"></ll-header-seller>
        <main class="main-pane">
            <router-outlet></router-outlet>
            <ll-feature></ll-feature>
        <ll-footer></ll-footer>
        </main>
        
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>