<div class="table-container mt-10 bg-white">
    <table class="table-auto border-collapse border border-gray-400 w-full h-full">
      <thead>
        <tr>
          <th class="px-4 py-2 border border-gray-400  text-white">Features</th>
          <th class="px-4 py-2 border border-gray-400  text-white">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2 font-bold border-gray-400">Sale Type</td>
          <td class="border px-4 py-2 text-center border-gray-400">Rent</td>
        </tr>
        <tr>
          <td class="border px-4 py-2 font-bold border-gray-400">Bedroom</td>
          <td class="border px-4 py-2 text-center border-gray-400">1 king size</td>
        </tr>
        <tr>
          <td class="border px-4 py-2 font-bold border-gray-400">Bathroom</td>
          <td class="border px-4 py-2 text-center border-gray-400">1 in the kitchen, 1 in bedroom</td>
        </tr>
        <tr>
          <td class="border px-4 py-2 font-bold border-gray-400">Property Type</td>
          <td class="border px-4 py-2 text-center border-gray-400">Apartment</td>
        </tr>
        <tr>
          <td class="border px-4 py-2  font-bold border-gray-400">Area</td>
          <td class="border px-4 py-2 text-center border-gray-400">50 sqm</td>
        </tr>
        <tr>
          <td class="border px-4 py-2 font-bold border-gray-400">Furnishing</td>
          <td class="border px-4 py-2 text-center border-gray-400">Fully Furnished</td>
        </tr>
      </tbody>
    </table>
  </div>