.table-container{
    height: auto;
    padding: 15px;
    border-radius: 10px;
}
thead{
    background-color: #2359b1;
}
.map-container{
    padding: 10px;
    background-color: white;
    border-radius: 15px;

}