<div class="container mt-40">
  <div class="title-container">
      <h2 class="titleproperty ml-10">We have the Best For You</h2>
  </div>
  <div class="content-container">
      <div class="image-container mt-10">
          <div class="image-wrapper mt-10">
              <div class="image-inner-wrapper">
                  <img class="current-image mt-10" [src]="properties.mainImage" alt="Current Image" />
              </div>
          </div>
          <div class="other-images-container">
              <div class="other-image" *ngFor="let image of properties.otherImages" (click)="onImageClick(image)">
                  <img [src]="image" alt="Other Image" class="other-image-thumbnail" />
              </div>
          </div>
          <app-properties-information></app-properties-information>
      </div>
<div>
      <div class="properties-details float-right mt-20">
          <div class="title text-center text-white">
              <h2 class="properties-title">{{ properties.title }}</h2>
          </div>
          <div class="description">
              <h4 class="description_title ml-4">Description</h4>
              <p class="properties-description ml-4 text-gray-800">{{ properties.description }}</p>
          </div>
          <div class="description">
              <h4 class="description_title ml-4">Price</h4>
              <p class="properties-price ml-4 text-gray-800">
                <svg class="w-1 h-1 mr-2" viewBox="0 0 20 20" fill="currentColor">
                  <use xlink:href="https://www.svgrepo.com/svg/530124/money"></use>
                </svg>
                {{ properties.price | currency:'PHP' }}
              </p>
              
          </div>
          <div class="description">
              <h4 class="description_title ml-4">Location</h4>
              <p class="properties-location ml-4 text-gray-800">{{ properties.location }}</p>
          </div>
      </div>

      <div class="properties-details2  ">
          <div class="imageseller text-center text-white  mx-auto">
            <img class="seller-image border-gray rounded-full   mx-auto " [src]="properties.sellerImage" alt="seller Image" />
          </div>
          <div class="sellername-container  text-center mt-10"> 
            <h4 class="sellernamemain  font-bold mx-auto">{{ properties.sellerName }}</h4>
            <p class="seller mx-auto font-bold">Seller</p>
        </div>
        <div class="button-container text-center mt-4">
            <button class="rounded-full bg-blue-500 text-white py-4 px-14 hover:bg-orange">Button</button>
          </div>
      </div>
  </div>
 

