<div class="news-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card *ngFor="let newsItem of newsItems" class="news-card">
      <mat-card-header>
        <mat-card-title>{{ newsItem.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ newsItem.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a href="{{ newsItem.link }}" target="_blank" mat-button color="primary">Read More</a>
      </mat-card-actions>
    </mat-card>
  </div>
  