<div class="news-container">
  <div class="news-row">
    <div class="news-card" *ngFor="let newsItem of displayedNewsItems">
      <div class="news-image">
        <img [src]="newsItem.urlToImage" alt="{{ newsItem.title }}" />
      </div>
      <div class="news-content">
        <h3 class="news-title">{{ newsItem.title }}</h3>
        <p class="news-description">{{ newsItem.description }}</p>
        <a href="{{ newsItem.url }}" target="_blank" class="read-more">Read More</a>
      </div>
    </div>
  </div>
  <div class="news-navigation">
    <button class="prev-button" (click)="prevPage()" [disabled]="currentPage === 0">Previous</button>
    <button class="next-button" (click)="nextPage()" [disabled]="currentPage === maxPage">Next</button>
  </div>
</div>
