.carouselcontainer{
  height: 700px;
  width:1000px;
  padding: 50px;
  border-radius: 20px;
  border-color: blue;
}
.parentcontainer{
  width:1500;
  background-color: white;
  display: flex;
}
.textforproperties{
  float:right;
  flex: 1;
  margin-top:25px;
  margin-right: 15px;
  padding-right: 15px;

}
.fixed-image-height {
  height: 560px; /* Adjust the height value to your desired fixed height */
}
.slide-subtitle{
  color:white;
}
.slide-title {
  color:white;
  font-weight: bolder; /* Change the color value to your desired slide title color */
}
p{
font-size: 20px;
line-height: 1.5;
}
h1{
  color:#0d63ee;
  margin-top:15px;
  padding-top: 10px;
}
