.carouselcontainer{
  height: 700px;
  width:1000px;
  padding: 50px;
  border-radius: 20px;
  border-color: blue;
}
.parentcontainer{
  width:1500;
  background-color: white;
  display: flex;
}
.textforproperties{
  float:right;
  flex: 1;
  margin-top:150px
}

h1{
  color:#0d63ee;
  margin-top:10px;
  padding-top: 10px;
}
