<div class="properties-area">
  <h2 class="property-title mt-4 ml-10">Properties For Sale</h2>
  <div class="slider-container">
    <!-- <ng-image-slider [images]="imgCollection" #nav>
      <ng-template ng-header-tmp let-image="image">
        <div class="image-container">
          <img [src]="image.thumbImage" alt="{{ image.alt }}" class="image-item" />
          <div class="image-description">
            <h5 class="image-title">{{ image.title }}</h5>
            <p class="image-text">{{ image.description }}</p>
          </div>
        </div>
      </ng-template>
    </ng-image-slider> -->
  </div>
</div>
