
.sidebar-container {
  position: fixed;
  height: min-content;
  width: 200px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

.bg-bright-blue {
  background-color: #F6F5F5;
}

