.app-sidebar {
  width: 200px;
  margin: 0;
  background: linear-gradient(to bottom, #1746A2, #2b5bbd);
  color: white;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  flex-grow: 1;

  .sidebar-text {
    color: white;
    margin-right: 12px;
    font-size: 16px;
  }

  .mat-list-item:last-child {
    margin-top: auto;
  }

  .mat-icon {
    vertical-align: middle;
    margin-right: 4px;
    margin-bottom: 2px;
    color: white;
  }

  .mat-list-item:hover {
    background-color: #ff9800 !important;
    color: white;
  }

  &.active {
    background-color: rgba(0, 86, 179, 0.8);
    color: white;
  }

  ::ng-deep .mat-list-item::after {
    content: '';
    display: block;
    border-bottom: 1px solid white;
    margin-top: 4px;
  }

  ::ng-deep .mat-list-item:last-child::after {
    border-bottom: none;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
  }

  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-icon {
    width: 60px;
    height: 60px;
    margin-right: 8px;
  }

  .sidebar-icon {
    width: 60px;
    height: 60px;
    margin-right: 8px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
  }

  .sidebar-icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 0;
  }

  .upgrade-button {
    background-color: #FF731D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    margin-bottom: 12px;
    backdrop-filter: blur(5px);
    cursor: pointer;
    border: none;
    outline: none;
  }

  .upgrade-button:hover {
    background-color: #007bff;
  }

  .star-icon {
    margin-right: 5px;
  }

  .upgrade-text {
    font-weight: bold;
  }
}

.mat-sidenav-content {
  padding: 20px;
}

.page-container {
  display: flex;
  align-items: stretch;
}

.sidebar-container {
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 200px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 200px;
  margin: 0;
  background: linear-gradient(to bottom, #1746A2, #2b5bbd);
  color: white;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  flex-grow: 1;

  .sidebar-text {
    color: white;
    margin-right: 12px;
    font-size: 16px;
  }

  .mat-list-item:last-child {
    margin-top: auto;
  }

  .mat-icon {
    vertical-align: middle;
    margin-right: 4px;
    margin-bottom: 2px;
    color: white;
  }

  .mat-list-item:hover {
    background-color: #ff9800 !important;
    color: white;
  }

  &.active {
    background-color: rgba(0, 86, 179, 0.8);
    color: white;
  }

  ::ng-deep .mat-list-item::after {
    content: '';
    display: block;
    border-bottom: 1px solid white;
    margin-top: 4px;
  }

  ::ng-deep .mat-list-item:last-child::after {
    border-bottom: none;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
  }

  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo-icon {
    width: 60px;
    height: 60px;
    margin-right: 8px;
  }

  .sidebar-icon {
    width: 60px;
    height: 60px;
    margin-right: 8px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
  }

  .sidebar-icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 0;
  }

  .upgrade-button {
    background-color: #FF731D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    margin-bottom: 12px;
    backdrop-filter: blur(5px);
    cursor: pointer;
    border: none;
    outline: none;
  }

  .upgrade-button:hover {
    background-color: #007bff;
  }

  .star-icon {
    margin-right: 5px;
  }

  .upgrade-text {
    font-weight: bold;
  }
}

.mat-sidenav-content {
  padding: 20px;
}

.page-container {
  display: flex;
  align-items: stretch;
}

.content-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
